<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.db.UserMapper">
    <cache eviction="LRU" flushInterval="20000" size="2014" readOnly="true"/>
    <resultMap id="userResultMap" type="org.mybatis.bean.User">
        <result typeHandler="org.mybatis.db.MyDateTypeHandler" column="regTime" javaType="java.util.Date"
                jdbcType="VARCHAR"
                property="regTime"/>
    </resultMap>
    
    <resultMap id="userMap" type="org.mybatis.bean.User">
        <id property="id" column="id" javaType="long" jdbcType="NUMERIC"/>
        <result property="userName" column="user_name" javaType="string" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="string" jdbcType="VARCHAR"/>
        <result property="address" column="address" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getUser" resultType="org.mybatis.bean.User">
        select * from user4
    </select>
    <select id="getPerson" resultType="org.mybatis.bean.Person">
        select * from person
    </select>
    <select id="getUser2" resultMap="userResultMap">
        select * from user4
    </select>
    <insert id="insertUser" parameterType="org.mybatis.bean.User">
        INSERT INTO user4(username,password,regTime) VALUES (#{username},#{password},#{regTime,javaType=Date,jdbcType=VARCHAR,typeHandler=org.mybatis.db.MyDateTypeHandler})
    </insert>
   <!--  <insert id="insertUser" parameterType="user">
        INSERT INTO user(username,password,address) VALUES (#{username},#{password},#{address})
    </insert> -->
    <insert id="insertUser2">
        INSERT INTO user4(username,password,regTime) VALUES (#{username},#{password},#{regTime,javaType=Date,jdbcType=VARCHAR})
    </insert>
    <insert id="insertUser3">
        INSERT INTO user4(username,password,regTime) VALUES (#{username},#{password},#{regTime,typeHandler=org.mybatis.db.MyDateTypeHandler})
    </insert>
    <insert id="insertPerson">
        INSERT INTO person(interest) VALUES (#{interest,typeHandler=org.mybatis.db.MyListTypeHandler})
    </insert>
    
    
     <select id="getUserById" resultType="user" parameterType="Long">
        select * from user where id = #{id}
    </select>
    <delete id="deleteUser" parameterType="Long">
        DELETE FROM user where id=#{id}
    </delete>
    
    <select id="getAll" resultType="user">
        SELECT * from user
    </select>
    
     <select id="getUserByAddressAndName" resultMap="userMap">
        SELECT * FROM user2 WHERE address=#{address} AND user_name LIKE concat(#{username},'%')
    </select>
    <select id="getUserByAddressAndName2" resultMap="userMap">
        SELECT * FROM user2 WHERE address=#{address} AND user_name LIKE concat(#{username},'%')
    </select>
    <select id="getUserByAddressAndName3" resultMap="userMap" parameterType="org.mybatis.bean.UserParams">
        SELECT * FROM user2 WHERE address=#{address} AND user_name LIKE concat(#{username},'%')
    </select>
    
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM user2
    </select>
    
    <!-- dynamic -->
    <resultMap id="u" type="org.sang.bean.User">
        <result column="user_name" property="username"/>
    </resultMap>
    <select id="getUser" resultMap="u" parameterType="String">
        select * from user2
        <if test="address!=null and address !=''">
            WHERE address LIKE concat('%',#{address},'%')
        </if>
    </select>
    <select id="getUser2" resultMap="u">
        SELECT * FROM user2 WHERE 1=1
        <choose>
            <when test="id!=null">
                AND id=#{id}
            </when>
            <when test="address!=null">
                AND address=#{address}
            </when>
            <when test="username!=null">
                AND user_name LIKE concat(#{username},'%')
            </when>
            <otherwise>
                AND 10>id
            </otherwise>
        </choose>
    </select>
    <select id="getUser3" resultMap="u">
        SELECT * FROM user2
        <where>
            <choose>
                <when test="id!=null">
                    AND id=#{id}
                </when>
                <when test="address!=null">
                    AND address=#{address}
                </when>
                <when test="username!=null">
                    AND user_name LIKE concat(#{username},'%')
                </when>
                <otherwise>
                    AND 10>id
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="getUser4" resultMap="u">
        SELECT * FROM user2
        <trim prefix="where" prefixOverrides="and">
            AND id=1
        </trim>
    </select>
    <update id="update">
        UPDATE user2
        <set>
            <if test="username!=null">
                user_name=#{username},
            </if>
            <if test="password!=null">
                password=#{password}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <select id="getUserInCities" resultMap="u">
        SELECT * FROM user2
        WHERE address IN
        <foreach collection="cities" index="city" open="(" separator="," close=")" item="city">
            #{city}
        </foreach>
    </select>
    <select id="getUserByName" resultMap="u">
        <bind name="un" value="username+'%'"></bind>
            SELECT* FROM user2 WHERE user_name LIKE #{un}

    </select>
</mapper>