<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="page">
<body>


<div th:fragment="pager">
		 <div class="text-right" th:with="baseUrl=${#httpServletRequest.getRequestURL().toString()},pars=${#httpServletRequest.getQueryString() eq null ? '' : new String(#httpServletRequest.getQueryString().getBytes('iso8859-1'), 'UTF-8')}">
        <ul style="margin:0px;" class="pagination" th:with="newPar=${new java.lang.String(pars eq null ? '' : pars).replace('page='+(pageInfo.pageNum), '')},
                                                curTmpUrl=${baseUrl+'?'+newPar},
                                                curUrl=${curTmpUrl.endsWith('&amp;') ? curTmpUrl.substring(0, curTmpUrl.length()-1):curTmpUrl}" >
            <!--<li th:text="${pars}"></li>-->

            <li><a href="#" th:href="@{${curUrl}(page=1)}">首页</a></li>
            <li th:if="${pageInfo.hasPrevious()}"><a href="#" th:href="@{${curUrl}(page=${pageInfo.pageNum-1})}">上一页</a></li>


				<!--总页数小于等于10-->
				<div th:if="${(pageInfo.pages le 10) and (pageInfo.pages gt 0)}"
					th:remove="tag">
					<div th:each="pg : ${#numbers.sequence(1, pageInfo.pages)}"
						th:remove="tag">
						<span th:if="${pg eq pageInfo.getPageNum()}" th:remove="tag">
							<li class="active"><span class="current_page line_height" th:text="${pg}">${pg}</span></li>
						</span> 
						<span th:unless="${pg eq pageInfo.getPageNum()}" th:remove="tag">
							<li><a href="#"	th:href="@{${curUrl}(page=${pg})}" th:text="${pg}"></a></li>
						</span>
					</div>
				</div>

				<!-- 总数数大于10时 -->
				<div th:if="${pageInfo.pages gt 10}" th:remove="tag">
					<li th:if="${pageInfo.pageNum-2 gt 0}"><a
						href="#"
						th:href="@{${curUrl}(page=${pageInfo.pageNum}-2)}"
						th:text="${pageInfo.pageNum-2}"></a></li>
					<li th:if="${pageInfo.pageNum-1 gt 0}"><a
						href="#"
						th:href="@{${curUrl}(page=${pageInfo.pageNum}-1)}"
						th:text="${pageInfo.pageNum-1}"></a></li>
					<li class="active"><span class="current_page line_height"
						th:text="${pageInfo.pageNum}"></span></li>
					<li th:if="${pageInfo.pageNum+1 lt pageInfo.pages}"><a
						href="#"
						th:href="@{${curUrl}(page=${pageInfo.pageNum}+1)}"
						th:text="${pageInfo.pageNum+1}"></a></li>
					<li th:if="${pageInfo.pageNum+2 lt pageInfo.pages}"><a
						href="#"
						th:href="@{${curUrl}(page=${pageInfo.pageNum}+2)}"
						th:text="${pageInfo.pageNum+2}"></a></li>
				</div>


				<li th:if="${pageInfo.hasNext()}"><a
					href="#"
					th:href="@{${curUrl}(page=${pageInfo.pageNum+1})}">下一页</a></li>
				<!--<li><a href="#" th:href="@{${curUrl}(page=${pageInfo.pages-1})}">尾页</a></li>-->
				<li><a href="#"
					th:href="${pageInfo.pages le 0 ? curUrl+'page=0':curUrl+'&amp;page='+(pageInfo.pages)}">尾页</a></li>
				<li><span
					th:utext="'共'+${pageInfo.pages}+'页 / '+${pageInfo.total}+' 条'"></span></li>
			</ul>
		</div>
	</div>
</body>
</html>